carsModal {

  .top{
    position: fixed;
    width: 568px;
    padding: 5px;
    height: 45px;
    top: 0;
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    border-bottom: 2px solid lightgray;
    right: 0;
    margin: auto;

    span{
      font-size: 13px;
      text-transform: uppercase;
      padding: 8px 5px;
      width: 18.4%;
      color: #696969;
      font-family: "Roboto", "Helvetica Neue", sans-serif;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      ion-icon{
        position: absolute;
        right: 7px;
        top: 7px;
        color: #ff0000;
        font-size: 1.5em;
      }
    }

    .id{
      width: 8%;
    }
  }

  .cars-content{
    width: 100%;
    min-width: 450px;



    .row{
      display: flex;
      width: 100%;

      span{
        border-bottom:1px solid lightgray;
        padding: 8px 5px;
        width: 18.4%;
        font-size: 15px;
        color: #696969;
        font-family: "Roboto", "Helvetica Neue", sans-serif;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .id{
        width: 8%;
      }
    }

    div:first-child{
      margin-top: 25px!important;
    }

    .row:hover{
      background: #aff3bc;
    }
  }

}
