<ion-content padding>

    <div class="top">
        <span class="id">id</span>
        <span>car license</span>
        <span>license plate</span>
        <span>brand</span>
        <span>places</span>
        <span>equipment <ion-icon name="close" (click)="closeModal()"></ion-icon></span>
    </div>
    <div class="cars-content">
        <div *ngFor="let car of cars" class="row" (click)="driverToCarAssociate(car)">
            <span class="id">{{car.id}}</span>
            <span>{{car.car_license}}</span>
            <span>{{car.license_plate}}</span>
            <span>{{car.brand}}</span>
            <span>{{car.place_number}}</span>
            <span>{{car.equipment}}</span>
        </div>
    </div>


</ion-content>
