<ion-content padding>
        <div class="row">
            <div> Availability </div>
            <div>{{car.availability  | date:"H:mm"}}</div>
            <div> Status </div>
            <ion-item>
                <ion-select name="status" [(ngModel)]="car.status" required interface="popover">
                    <ion-option value="1">On th way</ion-option>
                    <ion-option value="2">Arrived & waiting</ion-option>
                    <ion-option value="3">P.O.B</ion-option>
                    <ion-option value="4">Drop soon</ion-option>
                    <ion-option value="5">Available</ion-option>
                </ion-select>
            </ion-item>
            <div> License Plate *</div>
            <input name="license_plate" type="text" [(ngModel)]="car.license_plate" required>
            <div>Car Brand</div>
            <ion-item>
                <ion-select name="brand" [(ngModel)]="car.brand" interface="popover">
                    <ion-option value="hyundai">Hyundai</ion-option>
                    <ion-option value="mercedes">Mercedes</ion-option>
                    <ion-option value="subaru">Subaru</ion-option>
                </ion-select>
            </ion-item>
            <div>Driver</div>
            <div *ngIf="car.driver===null"><button ion-button (click)="addCarToDriverModal()">associate</button></div>
            <div *ngIf="car.driver">
            <ion-icon name="close" (click)="deleteDriver(car)"></ion-icon>
              {{car.driver.user.firstName}} {{car.driver.user.lastName}} - ({{car.driver.license}})
            </div>
            <div> Number of Places *</div>
            <input name="place_number" type="number" [(ngModel)]="car.place_number" required>
            <div> Equipment </div>
            <input name="equipment" type="text" [(ngModel)]="car.equipment">
            <div> Location </div>
            <input name="location" type="text" [readonly]="true" [(ngModel)]="car.location">
            <div> Hardware Version </div>
            <input name="hardware_version" type="text" [(ngModel)]="car.hardware_version">
            <div><button ion-button (click)="saveCar()">SAVE</button> </div>
        </div>
    <div class="success" [hidden]="!savedCar">Save with success</div>
    <div class="error" [hidden]="!errorCar">Please fill all the (*) requires fields</div>

</ion-content>
