<ion-tabs [selectedIndex]="seltabix" *ngIf="myProfile.user.category === 'dispatcher'">
    <ion-tab [root]="carPage" tabTitle="Cars" tabIcon="car"></ion-tab>
    <ion-tab [root]="driversPage" tabTitle="Drivers" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="homePage" tabTitle="dashboard" tabIcon="home"></ion-tab>
    <!--ion-tab [root]="settingsPage" tabTitle="Settings" tabIcon="cog"></ion-tab-->
    <ion-tab [root]="ridePage" tabTitle="Rides" tabIcon="body"></ion-tab>
    <ion-tab [root]="accountPage" tabTitle="My Account" tabIcon="contact"></ion-tab>
</ion-tabs>

<ion-tabs [selectedIndex]="seltabix" *ngIf="myProfile.user.category !== 'dispatcher'">
    <!--ion-tab [root]="settingsPage" tabTitle="Settings" tabIcon="cog"></ion-tab-->
    <ion-tab [root]="accountPage" tabTitle="My Account" tabIcon="contact"></ion-tab>
</ion-tabs>
