export const config = {
    database: 'node_db',
    databaseUser: 'node_user',
    databasePassword: 'node_pass',
    databaseServer: 'localhost',
    port: 3000
};

//DB configuration:
//CREATE DATABASE node_db;
//CREATE USER 'node_user'@'localhost' IDENTIFIED BY 'node_pass';
//GRANT USAGE ON *.* TO 'node_user'@'localhost' IDENTIFIED BY 'node_pass';
//GRANT ALL PRIVILEGES ON `node\_db`.* TO 'node_user'@'localhost'WITH GRANT OPTION;
