<ion-content padding>

  <button ion-button (click)="addNewCarModal()">new</button>

  <div class="cars-content">
    <div class="row">
      <span style="width:5%"> id</span>
      <span> car license</span>
      <span> license plate</span>
      <span> brand </span>
      <span> place number </span>
      <span> equipment </span>
      <span> hardware version </span>
      <span> availability </span>
      <span class="status"> status </span>
      <span> Driver </span>
      <span style="width:9.5%"> </span>
    </div>

    <div *ngFor="let car of cars" class="row">
      <span style="width:5%">{{car.id}}</span>
      <span>{{car.car_license}}</span>
      <span>{{car.license_plate}}</span>
      <span>{{car.brand}}</span>
      <span>{{car.place_number}}</span>
      <span>{{car.equipment}}</span>
      <span>{{car.hardware_version}}</span>
      <span>
          <!-- TODO *ngIf="car.availability date is today" -->
          {{car.availability  | date:"H:mm"}}
      </span>
      <span class="status">
        <img *ngIf="car.status === '5'" src="../../assets/imgs/online_status.png">
        <img *ngIf="car.status !== '5'" src="../../assets/imgs/offline_status.png">
      </span>
      <span *ngIf="car.driver===null" class="associate edit"><button ion-button (click)="addCarToDriverModal(car)">associate</button></span>
      <span *ngIf="car.driver">
           <ion-icon name="close" (click)="deleteDriver(car)"></ion-icon>
          {{car.driver.idUser}} - {{car.driver.user.firstName}} {{car.driver.user.lastName}}
      </span>
      <span class="edit" style="width:9.5%"><button (click)="editCar(car)" ion-button>Edit</button></span>
    </div>
  </div>


</ion-content>
