<ion-content padding>

  <div class="rides-content">
    <div class="row">
      <span style="width: 3%"> ID </span>
      <span> Driver Name: </span>
      <span> Driver Phone: </span>
      <span> Client name:</span>
      <span> Client Phone: </span>
      <span style="width: 18%"> Address From:</span>
      <span> Address To:</span>
      <span> Date: </span>
      <span class="status"> Status: </span>
    </div>

    <div *ngFor="let ride of rides" class="row">
      <span style="width: 3%">{{ride.id}}</span>
      <span>{{ride.driver_name}}</span>
      <span>{{ride.driver_phone}}</span>
      <span>{{ride.client_name}}</span>
      <span>{{ride.client_phone}}</span>
      <span style="width: 18%">{{ride.address_from}}</span>
      <span>{{ride.address_to}}</span>
      <span>{{ride.date | date:"MM/dd/yyyy '-' H:mm"}}</span>
      <span *ngIf="ride.status" class="status">
        <img src="../../assets/imgs/online_status.png">
      </span>
      <span *ngIf="!ride.status" class="status">
        <img src="../../assets/imgs/offline_status.png">
      </span>
    </div>
  </div>

</ion-content>