page-drivers {

  .drivers-content{
    width: 100%;
    min-width: 768px;

    .row:first-child{

      span{
        border-bottom:2px solid lightgray;
        font-size: 16.5px;
        text-transform: uppercase;
      }
    }

    .row{
      display: flex;
      width: 100%;

      span{
        border-bottom:1px solid lightgray;
        padding: 8px 5px;
        width: 11.4%;
        font-size: 15px;
        color: #696969;
        font-family: "Roboto", "Helvetica Neue", sans-serif;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .status{
        text-align: center;
        width: 5%;

        img{
          width: 14px;
        }
      }

      .edit{
        text-align: center;
        width: 7.5%;
        padding: 0;

        button{
          width: 65px;
          padding: 0;
          height: 21px;
          margin-top: 7px;

          span{
            width: 100%;
            border: 0;
            color: #ffffff;
            font-size: 13px;
            height: 10px;
          }
        }
      }

      .associate{
        text-align: left;

        button{
          width: 90px;
        }
      }
    }
  }

}
