<ion-content padding>

  <button ion-button (click)="newDriverModal()">new</button>

  <div class="drivers-content">
    <div class="row">
      <span> license </span>
      <span> Name </span>
      <span> phone1 </span>
      <span> phone2 </span>
      <span> email </span>
      <span> category </span>
      <span> type </span>
      <span class="status"> status </span>
      <span style="width: 7.5%"> Car </span>
      <span class=" edit"> </span>
    </div>

    <div *ngFor="let driver of drivers" class="row">
      <span>{{driver.license}}</span>
      <span>{{driver.user.firstName}} {{driver.user.lastName}}</span>
      <span>{{driver.user.phone1}}</span>
      <span>{{driver.user.phone2}}</span>
      <span>{{driver.user.email}}</span>
      <span>{{driver.user.category}}</span>
      <span>{{driver.type}}</span>
      <span class="status">
        <img *ngIf="driver.status === '1'" src="../../assets/imgs/online_status.png">
        <img *ngIf="driver.status === null || driver.status === '0'" src="../../assets/imgs/offline_status.png">
      </span>
      <span class="associate edit"><button ion-button (click)="addCarToDriverModal(driver)">associate</button></span>
      <span class="edit"><button ion-button>Edit</button></span>
    </div>
  </div>

</ion-content>
