<ion-content padding>

    <div class="top">
        <span style="width: 5%">id</span>
        <span style="width: 20%;">license:</span>
        <span style="width: 45%;">Name</span>
        <span style="width: 15%;">type</span>
        <span style="width: 15%;">status <ion-icon name="close" (click)="closeModal()"></ion-icon></span>
    </div>
    <div class="drivers-content">
        <div *ngFor="let driver of drivers" class="row" (click)="carToDriverAssociate(driver)">
            <span style="width: 5%">{{driver.idUser}}</span>
            <span style="width: 20%;">{{driver.license}}</span>
            <span style="width: 45%;">{{driver.user.firstName}} {{driver.user.lastName}}</span>
            <span style="width: 15%;">{{driver.type}}</span>
            <span class="status">
                <img *ngIf="driver.status === '1'" src="../../assets/imgs/online_status.png">
                <img *ngIf="driver.status === null || driver.status === '0'" src="../../assets/imgs/offline_status.png">
            </span>
        </div>
    </div>


</ion-content>
